<a href="https://colab.research.google.com/github/kaushal-sen/X_INFO5731_Spring2024-/blob/main/Week_3_Demo_Detailed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week-3 Code Demo

This demo contains the below topics:\
. Arrays\
. Json\
. Date\
. Classes and objects\
. Functions\
. Files\
. DataFrames

# Arrays

In [ ]:
# Creation of Array

# importing "array" for array creations
import array as arr

# creating an array with integer type
# i represents the type of array i.e. integer array
a = arr.array('i', [1, 2, 3])

# printing original array
print("The new created array is : ", end=" ")
for i in range(0, 3):
    print(a[i], end=" ")

# creating an array with double type
b = arr.array('d', [2.5, 3.2, 3.3])

# printing original array
print("\nThe new created array is : ", end=" ")
for i in range(0, 3):
    print(b[i], end=" ")

The new created array is :  1 2 3
The new created array is :  2.5 3.2 3.3

In [ ]:
# inserting array using
# insert() function
a.insert(1, 4)

print("Array after insertion : ", end=" ")
for i in (a):
    print(i, end=" ")

Array after insertion :  1 4 2 3

In [ ]:
# adding an element using append()
b.append(4.4)

print("Array after insertion : ", end=" ")
for i in (b):
    print(i, end=" ")
print()

Array after insertion :  2.5 3.2 3.3 4.4

In [ ]:
# accessing element of array
print("Access element is: ", a[0])

# accessing element of array
print("Access element is: ", a[3])

# array with float type
b = arr.array('d', [2.5, 3.2, 3.3])

# accessing element of array
print("Access element is: ", b[1])

# accessing element of array
print("Access element is: ", b[2])

Access element is:  1
Access element is:  3
Access element is:  3.2
Access element is:  3.3

In [ ]:
# creating a list
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

a = arr.array('i', l)
print("Initial Array: ")
for i in (a):
    print(i, end=" ")

# Print elements of a range
# using Slice operation
Sliced_array = a[3:8]
print("\nSlicing elements in a range 3-8: ")
print(Sliced_array)

# Print elements from a
# pre-defined point to end
Sliced_array = a[5:]
print("\nElements sliced from 5th "
      "element till the end: ")
print(Sliced_array)

Sliced_array = a[-2:]
print("\nElements sliced in reverse ")
print(Sliced_array)

# Printing elements from
# beginning till end
Sliced_array = a[:]
print("\nPrinting all elements using slice operation: ")
print(Sliced_array)

Initial Array:
1 2 3 4 5 6 7 8 9 10
Slicing elements in a range 3-8:
array('i', [4, 5, 6, 7, 8])

Elements sliced from 5th element till the end:
array('i', [6, 7, 8, 9, 10])

Elements sliced in reverse
array('i', [9, 10])

Printing all elements using slice operation:
array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Numpy arrays in python

In [ ]:
# importing numpy module
import numpy as np

# creating list
list_1 = [1, 2, 3, 4]
list_2 = [5, 6, 7, 8]
list_3 = [9, 10, 11, 12]

# creating numpy array
sample_array = np.array([list_1,
                         list_2,
                         list_3])

print("Numpy multi dimensional array in python\n",
      sample_array)
# print shape of the array
print("Shape of the array :",
      sample_array.shape)

Numpy multi dimensional array in python
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
Shape of the array : (3, 4)

In [ ]:
# python program to create
# Empty and Full Numpy arrays

import numpy as np


# Create an empty array
empa = np.zeros([3, 4], dtype = float)
print("Array with zeros")
print(empa)

ones = np.ones([3, 4], dtype = int)
print("Array with ones")
print(ones)


# Create a full array
flla = np.full([3, 3], 55, dtype=float)
print("\n Full Array")
print(flla)

Array with zeros
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
Array with ones
[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

 Full Array
[[55. 55. 55.]
 [55. 55. 55.]
 [55. 55. 55.]]

# Comparison of arrays

In [ ]:
# program to implement comparison of arrays
import numpy as np


a = np.array([101, 99, 87])
b = np.array([897, 97, 111])

print("Array a: ", a)
print("Array b: ", b)

print("a > b")
print(np.greater(a, b))
print()
print("a >= b")
print(np.greater_equal(a, b))
print()
print("a < b")
print(np.less(a, b))
print()
print("a <= b")
print(np.less_equal(a, b))

Array a:  [101  99  87]
Array b:  [897  97 111]
a > b
[False  True False]

a >= b
[False  True False]

a < b
[ True False  True]

a <= b
[ True False  True]

**The fromiter() function create a new one-dimensional array from an iterable object.**

In [ ]:
import numpy as np

var = "Python"

arr = np.fromiter(var, dtype = 'U2')

print("fromiter() array :",
      arr)

fromiter() array : ['P' 'y' 't' 'h' 'o' 'n']

**numpy.arange(): This is an inbuilt NumPy function that returns evenly spaced values within a given interval.**

In [ ]:
import numpy as np

np.arange(1, 20 , 2,dtype = np.int32)

array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19], dtype=int32)

# Check whether the element is present in array or not

In [ ]:
# importing Numpy package
import numpy as np

# creating a Numpy array
n_array = np.array([[2, 3, 0],
                    [4, 1, 6]])

print("Given array:")
print(n_array)

# Checking whether specific values
# are present in "n_array" or not
print(2 in n_array)
print(0 in n_array)
print(6 in n_array)
print(50 in n_array)
print(10 in n_array)

Given array:
[[2 3 0]
 [4 1 6]]
True
True
True
False
False

# Flatten an array

In [ ]:
# importing numpy as np
import numpy as np

# declare matrix with np
gfg = np.array([[6, 9], [8, 5], [18, 21]])

print(gfg)
print()
# using array.flatten() method
print(gfg.flatten())

[[ 6  9]
 [ 8  5]
 [18 21]]

[ 6  9  8  5 18 21]

# JSON library

In [ ]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

**convert the JSON objects to Python objects. Here, json.loads() method can be used to parse a valid JSON string and convert it into a Python Dictionary.**

In [ ]:
import json

# JSON string
employee = '{"id":"09", "name": "Sam", "department":"Student"}'
print("This is JSON", type(employee))

print("\nNow convert from JSON to Python")

# Convert string to Python dict
employee_dict = json.loads(employee)
print("Converted to Python", type(employee_dict))
print(employee_dict)

This is JSON <class 'str'>

Now convert from JSON to Python
Converted to Python <class 'dict'>
{'id': '09', 'name': 'Sam', 'department': 'Student'}

**json.dumps() function will convert a subset of Python objects into a JSON string.**

In [ ]:
# JSON string
employee_dict = {'id': '09', 'name': 'Nitin', 'department': 'Finance'}
print("This is Python", type(employee_dict))

print("\nNow Convert from Python to JSON")

# Convert Python dict to JSON
json_object = json.dumps(employee_dict, indent=4)
print("Converted to JSON", type(json_object))
print(json_object)

This is Python <class 'dict'>

Now Convert from Python to JSON
Converted to JSON <class 'str'>
{
    "id": "09",
    "name": "Nitin",
    "department": "Finance"
}

**CSV to JSON and JSON to CSV**

# Try, except and finally

**try**:
    # code that may cause exception
**except**:
    # code to run when exception occurs

**SyntaxError:**This exception is raised when the interpreter encounters a syntax error in the code, such as a misspelled keyword, a missing colon, or an unbalanced parenthesis.

In [ ]:
amount = 10000
if(amount > 2999)
print("You are eligible to purchase Dsa Self Paced")

SyntaxError: expected ':' (<ipython-input-1-6e9bf7ba577b>, line 2)

**ZeroDivisionError:** This exception is raised when an attempt is made to divide a number by zero.

In [ ]:
marks = 10000
a = marks / 0
print(a)

ZeroDivisionError: division by zero

**TypeError**: This exception is raised when an operation or function is applied to an object of the wrong type, such as adding a string to an integer.

In [ ]:
x = 5
y = "hello"
z = x + y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Custom Exceptions**

In [ ]:
x = 5
y = "hello"
try:
	z = x + y
except TypeError:
	print("Error: cannot add an int and a str")

Error: cannot add an int and a str

**Multiple Exceptions**

In [ ]:
def fun(a):
	if a < 4:

		b = a/(a-3)
	print("Value of b = ", b)

try:
	fun(3)
	fun(5)
except ZeroDivisionError:
	print("ZeroDivisionError Occurred and Handled")
except NameError:
	print("NameError Occurred and Handled")

ZeroDivisionError Occurred and Handled

In [ ]:
def fun(a):
	if a < 4:

		b = a/(a-3)
	print("Value of b = ", b)

try:
	#fun(3)
	fun(5)
except ZeroDivisionError:
	print("ZeroDivisionError Occurred and Handled")
except NameError:
	print("NameError Occurred and Handled") # Value of a is greater than 4

NameError Occurred and Handled

**Finally Block** : Is always executed

In [ ]:
x = 10

try:
    print(x)
except:
    print("Something went wrong")

finally:
    print("The 'try except' is finished")

10
The 'try except' is finished

In [ ]:
x = "Information science"

try:
    print(x + 10)
except:
    print("Something went wrong")

finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

**No exception handling.**

In [ ]:
# write your answer here
# Get user input for parameters a and b
a = float(input("Enter the value of 'a': "))
b = float(input("Enter the value of 'b': "))

# Calculate S using the formula
S = 3.14 * (1 + a / b)**3

# Display the result
print("The result of S is:", S)

Enter the value of 'a': 20
Enter the value of 'b': 0

ZeroDivisionError: float division by zero

** Exception Handling Using try.**

In [ ]:
try:
    # Step 1: Get user input for parameters 'a' and 'b'
    a = float(input("Enter the value of 'a': "))
    b = float(input("Enter the value of 'b': "))

    # Check if 'b' is not zero to avoid division by zero
    if b == 0:
        raise ZeroDivisionError("Division by zero is not allowed.")

    # Step 2: Calculate S using the formula
    S = 3.14 * ((1 + a / b) ** 3)

    # Step 3: Display the result
    print(f"The result of S is: {S}")

except ValueError:
    print("Invalid input. Please enter valid numeric values for 'a' and 'b.")
except ZeroDivisionError as e:
    print(e)
except Exception as e:
    print(f"An error occurred: {e}")

Enter the value of 'a': 10
Enter the value of 'b': 0
Division by zero is not allowed.

**Catching Specific Exceptions in Python**

In [ ]:
try:

    even_numbers = [2,4,6,8]
    print(even_numbers[5])

except ZeroDivisionError:
    print("Denominator cannot be 0.")

except IndexError:
    print("Index Out of Bound.")

# Output: Index Out of Bound

Index Out of Bound.

**Python try with else clause**

In [ ]:
# program to print the reciprocal of even numbers

try:
    num = int(input("Enter a number: "))
    assert num % 2 == 0
except:
    print("Not an even number!")
else:
    reciprocal = 1/num
    print(reciprocal)

Enter a number: 12
0.08333333333333333

# Dates library

Python has a module named datetime to work with dates and times.

**Get Current Date and Time**

By default in UTC.

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2024-02-01 00:30:21.460174

In [ ]:
import datetime
import pytz

# Get the current date and time
x = datetime.datetime.now()

# Specify the Central Time Zone
central_timezone = pytz.timezone('America/Chicago')

# Localize the datetime object to the Central Time Zone
central_time = x.astimezone(central_timezone)

# Print the localized datetime along with the timezone information
print("Current Date and Time in Central Time Zone:", central_time)
print("Timezone:", central_time.tzinfo)

Current Date and Time in Central Time Zone: 2024-01-31 18:34:17.596972-06:00
Timezone: America/Chicago

**Get Current Date**

In [ ]:
# get current date
current_date = datetime.date.today()

print(current_date)

2024-02-01

**Date object to represent a date**

In [ ]:
import datetime

d = datetime.date(2024, 2, 21)
print(d)

2024-02-21

**strftime-Convert date in string format**

In [ ]:
from datetime import datetime

given_date = datetime(2024, 2, 21)
print("Given date is", given_date)
print(given_date.strftime('%a, %d-%b, %Y'))

Given date is 2024-02-21 00:00:00
Wed, 21-Feb, 2024

**Print today's year, month and day**

In [ ]:
from datetime import date

# date object of today's date
today = date.today()

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2024
Current month: 2
Current day: 1

**Time object to represent time**

In [ ]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print(a)

# time(hour, minute and second)
b = time(11, 34, 56)
print(b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print(c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print(d)

00:00:00
11:34:56
11:34:56
11:34:56.234566

**Python datetime object**

In [ ]:
from datetime import datetime

# datetime(year, month, day)
a = datetime(2022, 12, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2022, 12, 28, 23, 55, 59, 342380)
print(b)

2022-12-28 00:00:00
2022-12-28 23:55:59.342380

**Python datetime.timedelta Class**

In [ ]:
from datetime import datetime, date

# using date()
t1 = date(year = 2023, month = 9, day = 6)
t2 = date(year = 2023, month = 9, day = 1)

t3 = t1 - t2

print("t3 =", t3)

# using datetime()
t4 = datetime(year = 2023, month = 9, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2023, month = 8, day = 30, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Type of t3 =", type(t3))
print("Type of t6 =", type(t6))

t3 = 5 days, 0:00:00
t6 = 13 days, 1:14:20
Type of t3 = <class 'datetime.timedelta'>
Type of t6 = <class 'datetime.timedelta'>

In [ ]:
from datetime import date, timedelta
dt = date.today() - timedelta(5)
print('Current Date :',date.today())
print('5 days before Current Date :',dt)

Current Date : 2024-02-01
5 days before Current Date : 2024-01-27

# Classes and objects

![Screenshot 2023-09-06 203416.png]()

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)


p1 = Person("John", 36)

print(p1.name)
print(p1.age)
p1.myfunc()

John
36
Hello my name is John

Objects will have combination of attributes and methods.
Attributes - what object has or is. - name,age, height
Methods - what object does - eat,sleep,talk

**class ClassName:**
    # class definition

In [ ]:
class Bike:
    Model = ""
    year = 0

Here's the syntax to create an object.

**objectName = ClassName()**

In [ ]:
# create class
class Bike:
    Model = "Yamaha"
    year = 0

# create objects of class
bike1 = Bike()
print(bike1.Model)

Yamaha

**Python Class and Objects**


Assigning values

In [ ]:
# define a class
class Bike:
    name = ""
    gear = 0

# create object of class
bike1 = Bike()

# access attributes and assign new values
bike1.gear = 11
bike1.name = "Mountain Bike"

print(f"Name: {bike1.name}, Gears: {bike1.gear} ")

Name: Mountain Bike, Gears: 11

In [ ]:
class Car:
  # class variables
  company_name = 'ABC Company'

  # constructor to initialize the object
  def __init__(self,make,model,year,color):
     # instance variables
    self.make=make
    self.model=model
    self.year=year
    self.color=color

  # instance method
  def drive(self):
    #print("This car is driving.")
    print("This " + self.model+" car is driving.")

  def stop(self):
    print("This car is stopped")

In [ ]:
car_1=Car() # needs arguements

TypeError: Car.__init__() missing 4 required positional arguments: 'make', 'model', 'year', and 'color'

In [ ]:
car_1=Car("Chevy","Corvetter","2023","Blue")

No need of passing self. with python we do not need to pass self. It will be done automatically.

Same with drive() and stop() we do not need to pass the arguement while calling it.

In [ ]:
print(car_1.make)
print(car_1.model)

Chevy
Corvetter

In [ ]:
car_1.drive()

This Corvetter car is driving.

In [ ]:
car_2=Car("Ford","Mustang","2022","Red")

In [ ]:
print(car_2.model)

Mustang

In [ ]:
car_2.stop()

This car is stopped

try writing
print("This" + self.model+" car is driving.")

# Functions

Python Function Declaration
The syntax to declare a function is:

**def function_name(arguments):**
    # function body

    return
Here,

def - keyword used to declare a function,

function_name - any name given to the function,

arguments - any value passed to function,

return (optional) - returns value from a function

In [ ]:
def greet():
    print('Hello Class of Spring 2024!')

In [ ]:
greet()

Hello Class of Spring 2024!

**Python Function Arguments**

without return type

In [ ]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print("Sum: ",sum)


# function call with two values
add_numbers(5, 4)

# Output: Sum: 9

Sum:  9

In [ ]:
# function definition
def find_square(num):
    result = num * num
    return result

# function call
square = find_square(3)

print('Square:',square)

# Output: Square: 9

Square: 9

Function return Type

In [ ]:
def list_sum_recursive(input_list):
    # Base case
    if input_list == []:
        return 0

    # Recursive case
    # Decompose the original problem into simpler instances of the same problem
    # by making use of the fact that the input is a recursive data structure
    # and can be deﬁned in terms of a smaller version of itself
    else:
        head = input_list[0]
        smaller_list = input_list[1:]
        return head + list_sum_recursive(smaller_list)

list_sum_recursive([1, 2, 3])

6

**Python In-built functions**

In [ ]:
import math

# sqrt computes the square root
square_root = math.sqrt(4)

print("Square Root of 4 is",square_root)

# pow() comptes the power
power = pow(2, 3)

print("2 to the power 3 is",power)

Square Root of 4 is 2.0
2 to the power 3 is 8

**Code Reusability**

In [ ]:
# function definition
def get_square(num):
    return num * num

for i in range(1,5):
    # function call
    result = get_square(i)
    print('Square of',i, '=',result)

Square of 1 = 1
Square of 2 = 4
Square of 3 = 9
Square of 4 = 16

# map function

The map() function applies a given function to each element of an iterable (list, tuple etc.) and returns an iterator containing the results.

map() Arguments
The map() function takes two arguments:

function - a function;

iterable - an iterable like sets, lists, tuples, etc
You can pass more than one iterable to the map() function.

map() Return Value
The map() function returns an object of map class. The returned value can be passed to functions like

list() - to convert to list
set() - to convert to a set, and so on.

In [ ]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

How to use lambda function with map()?

In [ ]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x * x, numbers)
print(list(result))

[1, 4, 9, 16]

In [ ]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]

result = map(lambda n1, n2: n1+n2, num1, num2)
print(list(result))

[9, 11, 13]

# filter function

The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
The filter() function selects elements from an iterable (list, tuple etc.) based on the output of a function.

The function is applied to each element of the iterable and if it returns True, the element is selected by the filter() function.

filter() Arguments
The filter() function takes two arguments:

function - a function
iterable - an iterable like sets, lists, tuples etc.
filter() Return Value
The filter() function returns an iterator.

In [ ]:
# function that filters vowels
def fun(variable):
	letters = ['a', 'e', 'i', 'o', 'u']
	if (variable in letters):
		return True
	else:
		return False


# sequence
sequence = ['s', 'u', 'p', 'e', 'r', 's', 'e', 't']

# using filter function
filtered = filter(fun, sequence)

print('The filtered letters are:')
for s in filtered:
	print(s)

The filtered letters are:
u
e
e

In [ ]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print("Odd numbers: ", list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print("Even numbers: ", list(result))

Odd numbers:  [1, 3, 5, 13]
Even numbers:  [0, 2, 8]

# Files in Python

In [ ]:
fout = open('output.txt', 'w')
#print(fout)

# The write() method puts data into the file.
# f.write(string) writes the contents of string to the file, returning the number of characters written.

line1 = "This here's the wattle,\n"
fout.write(line1)

24

In [ ]:
# Again, the file object keeps track of where it is, so if you call write again, it adds the new data to the end.

line2 = "the emblem of our lands.\n"
fout.write(line2)

25

In [ ]:
# When you are done writing, you have to close the file.
fout.close()

In [ ]:
f = open("output.txt",'r',encoding = 'utf-8')

# read the entire file

print(f.read())

This here's the wattle,
the emblem of our lands.

In [ ]:
# We can read a file line-by-line using a for loop. This is both efficient and fast.

f2 = open("output.txt",'r',encoding = 'utf-8')

for line in f2:
    print(line, end = '')

This here's the wattle,
the emblem of our lands.

In [ ]:
# The readlines() method returns a list of remaining lines of the entire file

f3 = open("output.txt",'r',encoding = 'utf-8')
print(f3.readlines())

["This here's the wattle,\n", 'the emblem of our lands.\n']

# DataFrames

A DataFrame is like a table where the data is organized in rows and columns. It is a two-dimensional data structure like a two-dimensional array.

Create a Pandas DataFrame
We can create a Pandas DataFrame in the following ways:

Using Python Dictionary;
Using Python List;
From a File;
Creating an Empty DataFrame.

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

df

   calories  duration
0       420        50
1       380        40
2       390        45

**Pandas DataFrame Using Python Dictionary**

In [ ]:
import pandas as pd

# create a dictionary
data = {'Name': ['John', 'Alice', 'Bob'],
       'Age': [25, 30, 35],
       'City': ['New York', 'London', 'Paris']}

# create a dataframe from the dictionary
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

**Pandas DataFrame Using Python List**

In [ ]:
import pandas as pd

# create a two-dimensional list
data = [['John', 25, 'New York'],
       ['Alice', 30, 'London'],
       ['Bob', 35, 'Paris']]

# create a DataFrame from the list
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   30    London
2    Bob   35     Paris

**Create an Empty DataFrame**

In [ ]:
import pandas as pd

# create an empty DataFrame
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

**Pandas DataFrame From a File**

In [ ]:
import pandas as pd

# load data from a CSV file
df = pd.read_excel('/content/Walmart_Store_sales.xlsx')

df.head()

,Store,Week,Week_of_yr,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,1,5,2010-05-02 00:00:00,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,2,6,2010-12-02 00:00:00,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,3,7,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,4,8,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,5,9,2010-05-03 00:00:00,1554806.68,0,46.50,2.625,211.350143,8.106

# Indexing

loc gets rows (and/or columns) with particular labels.
iloc gets rows (and/or columns) at integer locations.

In [ ]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

df

      calories  duration
day1       420        50
day2       380        40
day3       390        45

The code df.iloc[0] is used to select the first row of the DataFrame df using integer-based indexing (position-based indexing).

In [ ]:
df.iloc[0]

calories    420
duration     50
Name: day1, dtype: int64

The code df.loc['day1'] is used to select a specific row from the DataFrame df using label-based indexing.

In [ ]:
df.loc['day1']

calories    420
duration     50
Name: day1, dtype: int64

loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4),
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'],
                  columns=['A', 'B', 'C', 'D'])
print(df)
# Select all rows for a specific column ('A')
print("")
print(df.loc[:, 'A'])

          A         B         C         D
a -1.434750 -0.495902 -0.233510  0.736706
b -1.360210 -1.038922  0.361314  0.562818
c -0.184994  1.131817  1.144204 -2.184364
d  0.231660  1.068379 -0.359161  0.535548
e  0.146175  0.000155  1.493261  0.999770
f -0.734555 -0.303083 -1.003610  0.771407
g  2.803398 -2.189080 -0.389887  1.231377
h -1.331567  0.447681  0.042184  0.100780

a   -1.434750
b   -1.360210
c   -0.184994
d    0.231660
e    0.146175
f   -0.734555
g    2.803398
h   -1.331567
Name: A, dtype: float64

In [ ]:
# Select all rows for multiple columns, say list[]
print(df.loc[:,['A','C']])

          A         C
a -1.434750 -0.233510
b -1.360210  0.361314
c -0.184994  1.144204
d  0.231660 -0.359161
e  0.146175  1.493261
f -0.734555 -1.003610
g  2.803398 -0.389887
h -1.331567  0.042184

In [ ]:
# Select few rows for multiple columns, say list[]
print(df.loc[['a','b','f','h'],['A','C']])

          A         C
a -1.434750 -0.233510
b -1.360210  0.361314
f -0.734555 -1.003610
h -1.331567  0.042184

iloc()
Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.

The various access methods are as follows −

An Integer
A list of integers
A range of values

In [ ]:
# import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
print(df)
# select all rows for a specific column
print(df.iloc[:4])

          A         B         C         D
0  0.975864  1.009404 -3.155155  1.645453
1  0.444330 -0.164647 -0.682882  0.956244
2  0.038874  0.643542  0.419152 -0.682740
3 -1.624940  0.580844  0.781779 -0.993370
4  1.025471  0.039047  2.155619  1.315131
5  0.327939  1.662426 -0.593964  0.374383
6 -0.490418  0.738328  0.522386 -0.922936
7 -0.261719  0.456845 -0.007314 -0.435472
          A         B         C         D
0  0.975864  1.009404 -3.155155  1.645453
1  0.444330 -0.164647 -0.682882  0.956244
2  0.038874  0.643542  0.419152 -0.682740
3 -1.624940  0.580844  0.781779 -0.993370

In [ ]:
print(df.iloc[1:5, 2:4])

          C         D
1 -0.682882  0.956244
2  0.419152 -0.682740
3  0.781779 -0.993370
4  2.155619  1.315131